html::-webkit-scrollbar 
    background-color: var(--Base)
    width:16px

html::-webkit-scrollbar-track 
    background-color: var(--Base)

html::-webkit-scrollbar-track:hover 
    background-color: var(--Base)

html::-webkit-scrollbar-thumb 
    background-color: #9ca0b0
    border-radius: 16px
    border: 5px solid var(--Base)

html::-webkit-scrollbar-thumb:hover 
    background-color: #9ca0b0
    border: 2px solid var(--Base)

html::-webkit-scrollbar-button 
    display: none

#cursor
    --circle-size: 1.5rem
    position: fixed
    top: calc(var(--circle-size) / 2 * -1)
    left: calc(var(--circle-size) / 2 * -1)
    border: solid 1px var(--Text)
    border-radius: 50%
    width: var(--circle-size)
    height: var(--circle-size)
    pointer-events: none
    backdrop-filter: blur(2px)
    z-index: 999