.side_navbar
  display: flex
  flex-direction: column
  gap: 2.5rem
  align-content: center
  width: fit-content
  
  position: fixed
  top: 50%
  left: 1rem
  translate: 0 -50%

  z-index: 998

  .navbar_link
    padding: .75rem
    text-decoration: none
    position: relative
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    cursor: none

    i
      width: 2rem
      scale: 1
      transition: all .3s ease
      font-size: 1.5rem

    span
      border: solid 1px var(--Text)
      border-radius: .5rem
      background-color: var(--Base-2)
      padding: .25rem 1rem
      position: absolute
      left: 1rem
      opacity: 0
      scale: 0    

      transition: all .3s ease

  .navbar_link:hover,
  .navbar_link.show
    i
      scale: 1.25
    span
      left: 4.5rem
      opacity: 1
      scale: 1
  
  .navbar_link.mobile:hover
    i
      scale: 1.25
    span
      display: none

@media (max-width: 1186px)
  .side_navbar
    flex-direction: row
    top: 1rem
    left: 50%
    translate: -50% 0
    a
      span
        opacity: 0
        scale: 1

    a:hover
      i
        scale: 1
      span
          left: 1rem
          opacity: 0
          scale: 1

@media (max-width: 500px)
  .side_navbar
    background-color: var(--Base)
    height: 8svh
    width: 100vw
    gap: 1.5rem
    top: auto
    left: 0
    bottom: 0
    translate: 0 0
    justify-content: center
    a
      span
        opacity: 0
        scale: 1

    a:hover
      i
        scale: 1
      span
          left: 1rem
          opacity: 0
          scale: 1

