#projects
    height: 100svh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative

    #projects_container
        background-color: var(--Base)
        padding: 1rem
        z-index: 1
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 1rem
        width: 22%
        transition: all .3s ease

        .projects_columns
            display: flex
            flex-direction: column
            gap: 1rem
            transition: all .3s ease

            .projects_boxes 
                aspect-ratio: 1 / 1
                width: auto
                border-radius: 1rem
                transition: all .3s ease
                border: solid .5rem transparent

                background-color: var(--Accent)
                box-shadow: 0 10px 16px 0px var(--Accent-shadow)

            .projects_boxes:hover 
                transform: scale(1.15)

            .project
                background-color: var(--Base-2)
                box-shadow: 0 10px 16px 0px var(--Base-shadow)
                border: solid 1px white

                display: flex
                justify-content: center
                align-items: center

        .projects_columns:nth-child(1)
            animation: project_columns_1
            animation-timeline: view()
            animation-range: cover 0% cover 50%

        .projects_columns:nth-child(2)
            animation: project_columns_2
            animation-timeline: view()
            animation-range: cover 0% cover 50%

    .projects_description_container
        position: absolute
        opacity: 0
        width: 40%
        top: 50%
        left: auto
        right: 10%

        translate: 0 -50% 
        transition: all .3s ease

        display: flex
        flex-direction: column
        gap: 1rem
        
        h1
            font-size: 3rem
        
    .description-container
        transition: all .3s ease

#projects:hover,
#projects.mobile
    #projects_container
        width: 20%
        translate: -100% 0

        .projects_columns:nth-child(1)
            transform: translateY(-5%)

        .projects_columns:nth-child(2)
            transform: translateY(5%)

    .projects_description_container
        opacity: 1


.fade-in 
    opacity: 1

.fade-out
    opacity: 0

@keyframes project_description_p 
    from 
        opacity: 0
        translate: 0 30%
    to 
        opacity: 1
        translate: 0 0

@keyframes project_columns_1
    from
        opacity: 0
        translate: 0 30% 
    to
        opacity: 1
        translate: 0 0
@keyframes project_columns_2
    from
        opacity: 0
        translate: 0 -25% 
    to
        opacity: 1
        translate: 0 0


.color-1
    background-color: var(--color-1) !important
    border-color: var(--color-1) !important
    box-shadow: 0 10px 16px 0px var(--color-1-shadow) !important
.color-2
    background-color: var(--color-2) !important
    border-color: var(--color-2) !important
    box-shadow: 0 10px 16px 0px var(--color-2-shadow) !important
.color-3
    background-color: var(--color-3) !important
    border-color: var(--color-3) !important
    box-shadow: 0 10px 16px 0px var(--color-3-shadow) !important

@media (max-width: 1416px)
    #projects:hover,
    #projects.mobile
        #projects_container
            padding: 0
            width: 100%
            transform: rotate(90deg) scale(.25)
            translate: 0 -10%

            .projects_columns
                div
                    transform: rotate(-90deg)
                    > * 
                        transform: scale(3)

        .projects_description_container
            width: 75%
            top: 55%
            left: 50%

            translate: -50% 0 
            transition: all .3s ease

            h1
                font-size: 2rem
            p
                font-size: 1rem

@media (max-width: 774px)
    #projects:hover,
    #projects.mobile
        height: 75svh
        #projects_container
            transform: rotate(90deg) scale(.30)
            .projects_columns
                div
                    > * 
                        transform: scale(2)

@media (max-width: 440px)
    #projects:hover,
    #projects.mobile
        #projects_container
            .projects_columns
                div
                    > * 
                        transform: scale(1.5)